<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Burn Cream Blimp Livestream</title>

        <!-- Include external style sheet-->
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
        
        <!-- Include the SocketIO script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <body>
        <h4>Burn Cream Blimp Livestream</h4>
        <img src="{{ url_for('video_feed', feed_name='Burn Cream Blimp') }}" alt="Stream Unavailable">
    </body>
</html>